body {
  margin: 0;
  background: rgb(154, 171, 188);
}

h2 {
  border-bottom: 2px solid grey;
}
/* --------------- Menu --------------- */
.menu {
  border-bottom: 1.2px solid gray;
  top: 0;
  left: 0;
  background-color: rgb(240, 240, 240);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.menu a {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: red;
}

.menu li {
  margin-top: 15px;
  list-style-type: none;
  float: right;
}
.menu .item_list a {
  font-size: 110%;
  letter-spacing: 2px;
  padding: 0px 8px 10px 30px;
  margin-right: 10px;
}

.logo {
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: fill;
  min-height: 50px;
  margin-top: 10px;
  margin-left: 20px;
}

/* --------------- Menu --------------- */

/* --------------- Highlight--------------- */
section {
  min-height: 90vh;
  padding-top: 55px;
  background-color: white;
}

.s-highlight {
  margin: 25px 30px 75px 30px !important;
  padding-top: 75px!important;
  background-color: inherit;
}

.container-fluid a {
  opacity: 90%;
}

.container-fluid a:hover {
  opacity: 100% !important;
}

.highlight {
  width: 65%;
  min-height: 650px;
  background: url("../images/priest.png") no-repeat;
  background-color: lightgray;
  background-size: 100% 100%;
  float: left;
}

.highlight-side-1,
.highlight-side-2,
.highlight-side-3 {
  width: 30%;
  min-height: 200px;
  float: right;
}

.highlight-side-1 {
  background: url("../images/spiderman_3.png") no-repeat;
  background-color: lightgray;
  background-size: 100% 100%;
}
.highlight-side-2 {
  background: url("../images/the_dark_knight.jpg") no-repeat;
  background-color: lightgray;
  background-size: 100% 100%;
  margin-top: 25px;
}
.highlight-side-3 {
  background: url("../images/world_of_Z.png") no-repeat;
  background-color: lightgray;
  background-size: 100% 100%;
  margin-top: 25px;
}

/* --------------- Highlight--------------- */

/* --------------- Movies--------------- */
.figure img {
  width: 55%;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 10%;
  border: 1px solid black;
}

.movies-items h5,
.movies-items p {
  text-align: center;
}

.movies-items .col-4 {
  min-height: 60vh;
  padding-bottom: 40px;
}

.figure h5 {
  color: black;
}

.movie-description {
  padding-left: 0px !important;
}

.movie-description li {
  list-style-type: none;
  text-align: center;
}

.movie-description text {
  font-weight: bold;
}

/*-- Poster --*/
.movies-items .poster {
  position: absolute;
  top: 0;
  left: 33%;
  margin-left: -1.5em;
}
.poster li {
  list-style-type: none;
  color: whitesmoke;
}
.poster a {
  margin-top: 10px;
  text-align: center;
  opacity: 0%;
  text-decoration: none;
  transition: 1s ease;
}
.poster a:hover {
  opacity: 100%;
}
.poster-views,
.poster-likes {
  font-size: 3em;
  margin: 20px;
}

.poster-views {
  color: lightyellow;
}

.poster-likes {
  color: red;
}
/*-- Poster --*/
/* --------------- Movies--------------- */

/* --------------- footer --------------- */

.footer {
  width: 100%;
  background: black;
  color: white;
  padding-top: 30px;
  float: left;
}

.footer span,
.footer h2 {
  margin-left: 3%;
}

.footer a {
  color: cyan;
  padding-left: 5px;
  text-decoration: none;
}

.footer a:hover {
  color: red;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline-block;
  padding: 1% 2% 0 3%;
}

.social-networks a {
  font-size: 2.5em;
  color: lightgray;
  text-decoration: none;
}

.social-networks a:hover {
  color: white;
}
/* --------------- footer --------------- */
