body {
  margin: 0;
  background: whitesmoke;
}

/* --------------- Menu --------------- */
.menu {
  margin-top: 20px;
  border-bottom: 1.2px solid gray;
}

.menu a {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: red;
}

.menu li {
  list-style-type: none;
  float: right;
}
.menu .item_list a {
  font-size: 120%;
  letter-spacing: 2px;
  padding: 0px 8px 10px 30px;
  margin-right: 10px;
}

.logo {
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: fill;
  min-height: 55px;
  margin-top: -8px;
  margin-left: 20px;
}

/* --------------- Menu --------------- */

/* --------------- Highlight--------------- */
.container-fluid a {
  opacity: 80%;
}

.container-fluid a:hover {
  opacity: 95% !important;
}

section {
  min-height: 650px;
  margin-top: 25px;
}
.highlight {
  width: 65%;
  min-height: 650px;
  background: url("../images/priest.png") no-repeat;
  background-color: lightgray;
  background-size: 100% 100%;
  float: left;
  margin-left: 20px;
}

.highlight-side-1,
.highlight-side-2,
.highlight-side-3 {
  width: 30%;
  min-height: 200px;
  float: right;
  margin-right: 20px;
}

.highlight-side-1 {
  background: url("../images/spiderman_3.png") no-repeat;
  background-color: lightgray;
  background-size: 100% 100%;
}
.highlight-side-2 {
  background: url("../images/the_dark_knight.jpg") no-repeat;
  background-color: lightgray;
  background-size: 100% 100%;
  margin-top: 25px;
}
.highlight-side-3 {
  background: url("../images/world_of_Z.png") no-repeat;
  background-color: lightgray;
  background-size: 100% 100%;
  margin-top: 25px;
}

/* --------------- Highlight--------------- */

/* --------------- footer --------------- */
.footer {
  width: 100%;
  background: black;
  color: white;
  padding-top: 100px;
}

.footer span,
.footer h2 {
  margin-left: 3%;
}

.footer a {
  color: cyan;
  padding-left: 5px;
  text-decoration: none;
}

.footer a:hover {
  color: red;
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline-block;
  padding: 1% 2% 0 3%;
}

.social-networks a {
  font-size: 2.5em;
  color: lightgray;
  text-decoration: none;
}

.social-networks a:hover {
  color: white;
}
/* --------------- footer --------------- */
